.btn{
	border-radius: 10px;/*esquina*/
	display: inline-block;
	padding: 20px 15px;/*tamaño*/
	text-decoration: none;/*decoracion del texto*/
	font-family: Comic Sans MS; 
	text-shadow: 0 1px 0 rgba(255,255,255,0.3);/*borde del texto*/
	box-shadow:  0 1px 1px rgba(0,0,0,0.3);/*borde del boton*/
	align-content: center;
}
.btn-green{
	color: white;/*color de la letra*/
	background-color: #0E0440;	/*color del boton normal*/
}
.btn-green:hover{
	background: #d01d3f;/*color cuando le pase por encima*/

}
/*
.contact button:hover {
	background: #d01d3f;
  }
  .features button {
	background: #e43c5c;
	border: 0;
	padding: 10px 35px;
	color: #fff;
	transition: 0.4s;
	border-radius: 50px;
	width: 250px;
	height: 70px;
  }*/